@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-display: 'Prompt',Arial,Bai Jamjuree,Kanit,Itim;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --primary-100: #d8f0ef;
  --primary-200: #a3e0dc;
  --primary-300: #6fcfca;
  --primary-400: #3bbfb8;
  --primary:     #247F82;
  --primary-600: #1f6b6d;
  --primary-700: #1a5759;
  --primary-800: #144444;
  --primary-900: #0f3030;

  --secondary-100: #d9e0ea;
  --secondary-200: #b3c2d5;
  --secondary-300: #8da3c0;
  --secondary-400: #6785ab;
  --secondary:     #1C2634;
  --secondary-600: #161f28;
  --secondary-700: #11171f;
  --secondary-800: #0b1017;
  --secondary-900: #06080f;

  --text-primary-color: #1A1C1E;
  --text-secondary-color: #FFFFFF;
  --text-theme-color: #247F82;

  --yellow-theme-100: #FFF9E6;
  --yellow-theme: #FFEE8B;
  --yellow-theme-600: #E6C94D;

  --orenge-theme-100: #FFECE0;
  --orenge-theme: #E7854D;
  --orenge-theme-600: #D96A2E;

  --green-theme-100: #D0F0EC;
  --green-theme: #31B099;
  --green-theme-600: #218475;

  --blue-theme-100: #E6ECFF;
  --blue-theme: #4D81E7;
  --blue-theme-600: #3A66D1;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* ---- BASE ---- */
@layer base {
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-display);
  }

  p {
    color: var(--text-primary-color)
  }

  html {
    scroll-behavior: smooth;
  }
}


/* ---- COMPONENTS ---- */
@layer components {
  .btn-primary {
    @apply inline-flex items-center gap-2 rounded-md 
           bg-red-700 px-3 py-1.5 text-sm font-semibold text-white
           shadow-inner shadow-white/10
           hover:bg-gray-600;
  }
  .text-primary {
    color: var(--text-primary-color);
  }

  .text-secondary {
    color: var(--text-secondary-color);
  }

  .text-theme {
    color: var(--text-theme-color);
  }

  .text-primary:hover {
    color: var(--text-theme-color);
  }

  .text-primary:focus {
    color: var(--text-theme-color);
  }

  .bg-theme {
    color: var(--text-theme-color);
  }

  .border-theme {
    color: var(--text-theme-color);
  }
}
