@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* ---- BASE ---- */
@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

/* ---- COMPONENTS ---- */
@layer components {
  .btn-primary {
    @apply inline-flex items-center gap-2 rounded-md 
           bg-red-700 px-3 py-1.5 text-sm font-semibold text-white
           shadow-inner shadow-white/10
           hover:bg-gray-600;
  }
}
